<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="CrmUrl" value="https://disco.crm2.dynamics.com/XRMServices/2011/Discovery.svc"/>
		<add key="CrmDomain" value=""/>
		<add key="CrmUser" value=""/>
		<add key="CrmPassword" value=""/>
		<add key="CrmOrg" value=""/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
